::-webkit-scrollbar {
    display: none;
}

.aside_setting {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    min-width: 380px;
    max-width: 380px;
    width: 380px;
    border: 1px solid hsl(0, 0%, 90%);
}

#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}