.playground {
  margin: 0 auto;
  display: flex;
  width: 400px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  height: 100%;
}
.playground-profile {
  width: 400px;
  position: relative;
  margin: 15px 0;
  /* margin: 0 auto; */
}
.playground-profile img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 1px 8px 0 rgba(0, 17, 25, 0.27);
}
.playground-profile span {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 5px #000;
}
.playground-control {
  display: flex;
  justify-content: center;
}

.playground-control > div {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  box-shadow: 0 1px 8px 0 rgba(0, 17, 25, 0.27);
  margin: 0.5rem;
  text-align: center;
  padding-top: 1rem;
  cursor: pointer;
  transition: 0.25s all ease;
}
.playground-control > div:hover {
  transform: scale(1.2);
}
.playground-control i {
  font-size: 2rem;
}
.playground-control .fa-undo {
  color: #e3e654;
}
.playground-control .fa-heart {
  color: #fd5068;
}
.playground-control .fa-images {
  color: rgb(62, 122, 233);
}
.playground-control .fa-times {
  color: rgb(21, 172, 109);
}
.playground-control .fa-bolt {
  color: blueviolet;
}

.tada {
  animation: tada 2s;
}
@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

.rotate-right {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-right: -375px;
  cursor: e-resize;
  opacity: 0;
  z-index: 10;
}
.rotate-left {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -375px;
  cursor: w-resize;
  z-index: 10;
}

.slide-left {
  /* overflow: hidden; */
  transition: 0.5s;
  opacity: 0;
  margin-left: -60px;
  cursor: w-resize;
  z-index: 10;
  overflow-x: auto;
}

.show-next-image {
  transition: 0.5s;
}
