.playground {
  margin: 0 auto;
  margin-top: 20px;
}
.playground-profile {
  width: 375px;
  position: relative;
}
.playground-profile img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 1px 8px 0 rgba(0, 17, 25, 0.27);
}
.playground-profile span {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 5px #000;
}
.playground-control {
  display: flex;
  justify-content: center;
}

.playground-control > div {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 0 1px 8px 0 rgba(0, 17, 25, 0.27);
  margin: 0.5rem;
  text-align: center;
  padding-top: 0.8rem;
  cursor: pointer;
}
.playground-control i {
  font-size: 1.5rem;
}
.playground-control .fa-heart {
  color: #fd5068;
}
.playground-control .fa-images {
  color: rgb(62, 122, 233);
}
.playground-control .fa-times {
  color: rgb(21, 172, 109);
}
.playground-control .fa-bolt {
  color: blueviolet;
}

.tada {
  animation: tada 2s;
}
@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

.rotate-right {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
  z-index: 10;
}
.rotate-left {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
  z-index: 10;
}
