.playground {
  margin: 0 auto;
  margin-top: 20px;
}
.playground-profile {
  width: 375px;
}
.playground-profile img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 1px 8px 0 rgba(0, 17, 25, 0.27);
}
