.left-container {
  height: 100vh;
  /* background-color: cornflowerblue; */
  background-image: url("./BLOGB17EN.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.welcome-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 5vw;
  color: black;
  /* text-shadow: 5px 5px 10px rgba(39, 200, 255, 1); */
}

.right-content {
  margin-top: 50px;
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* min-height: 50vh; */
}
.upload-img {
  height: 150px;
  width: 300px;
  outline: none;
  background-color: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.taste-header {
  /* color: linear-gradient(225deg, #ff5b9a 0%, #f01967 100%); */
  /* color: #f01967; */
  font-size: 3vw;
  background: -webkit-linear-gradient(#ff5b9a, #f01967);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
