.left-container {
  height: 100vh;
  /* background-color: cornflowerblue; */
  background-image: url("./BLOGB17EN.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.left-content {
}

.welcome-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 5vw;
  color: black;
  text-shadow: 5px 5px 10px rgba(39, 200, 255, 1);
}

.right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
