.home-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80vh;
}
.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-title {
  font-size: 100px;
  color: white;
}
